<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" [disabled]="!recipeForm.valid" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" formControlName="name" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imagePath">image URL</label>
                        <input #imagePath type="url" id="imagePath" formControlName="imagePath" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img class="img-responsive" [src]="imagePath.value" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" id="description" formControlName="description" class="form-control"
                            rows="5">
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" formArrayName="ingredients">
                    <div class="row" *ngFor="let ingredient of controls; let i = index" [formGroupName]="i"
                        style="margin-top: 10px;">
                        <div class="col-xs-8">
                            <div class="row">
                                <div class="col-xs-8">
                                    <input formControlName="name" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <input type="number" formControlName="amount" class="form-control">
                        </div>
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-danger" (click)="onDeleteIngredient(i)">x</button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <button class="btn btn-success" type="button" (click)="onAddIngredient()">Add
                            Ingredient</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>