<a [routerLink]="[index]" routerLinkActive="active" class="list-group-item clearfix" style="cursor: pointer;">
    <div class="pull-left">
        <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
        <p class="list-group-item-text">{{ recipe.description }}</p>
    </div>
    <span class="pull-right">
        <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive" style="max-height: 100px;">
    </span>
</a>